{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="col-sm-offset-2 col-md-8">
  <div class="panel panel-default">
  	<div class="panel-body text-center m-t">
  		<!--{% if messages %}
  		{% for message in messages %}
  		<div class="alert alert-warning" role="alert">{{message}}</div>
  		{% endfor %}
  		{% endif %}-->
		<h2>Esperando verificación de email...</h2>
		<i class="fa fa-hourglass-3 fa-5x text-primary m-t-md"></i>
		<p class="lead m-t-md">
			{% blocktrans %}
			Te enviamos un mail para autenticar tu cuenta.<br>Haz click en el link dentro del correo para completar tu registro.<br><br>
			<small class="text-muted">
				Si tienes problemas mandanos un mail a hey@earlist.co
			</small>
			{% endblocktrans %}
		</p>
	</div>
  </div>
</div>
{% endblock %}
