{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-offset-2 col-md-8">
  <div class="panel panel-default">
  	<div class="panel-body text-center m-t">
  		<!--{% if messages %}
  		{% for message in messages %}
  		<div class="alert alert-warning" role="alert">{{message}}</div>
  		{% endfor %}
  		{% endif %}-->
		<h2>Waiting for email verification...</h2>
		<i class="fa fa-hourglass-3 fa-5x text-primary m-t-md"></i>
		<p class="lead m-t-md">
			{% blocktrans %}
			We sent you an email to verify your account<br>Click on the link on the email sent to continue<br><br>
			<small class="text-muted">
				If you have any problems contact us at <a href="mailto:hello@earlist.xyz">hello@earlist.xyz</a>
			</small>
			{% endblocktrans %}
		</p>
	</div>
  </div>
</div>
{% endblock %}
