{% extends "blog/base.html" %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block content %}
<div class="col-sm-offset-2 col-md-8">
  <div class="panel panel-default">
    <div class="panel-body text-center m-t">
        <h2>Iniciar sesión</h2>
        <i class="fa fa-twitter fa-5x text-primary m-t-md"></i>
        <p class="lead m-t-md">Inicia tu sesión usando Twitter<p>
        <a class="btn btn-lg btn-pill btn-primary m-b m-t" href="{% provider_login_url "twitter" %}">Login</a>
    </div>
  </div>
</div>
{% endblock %}