{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-7">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h1>Earlist</h1>
			<p class="lead m-t">Somos...</p>
			<div class="thumbnail m-t-md" style="background-color:white">
				<div style="
                        background: url('http://rack.0.mshcdn.com/media/ZgkyMDE0LzA0LzI1L2EwL3N0YXJ0dXB0ZWFtLjA0NGM5LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/978012c3/afa/startup-team.jpg');
                        background-size:cover;
                        background-position:center;
                        ">
                </div>
			</div>
			<p class="lead m-t-md">Hello</p>
		</div>
	</div>
</div>

{% include 'blog/right-col.html' %}
{% endblock %}