<!DOCTYPE html>
<html lang="en">
{% load meta %}
  <head {% meta_namespaces %}>
    <meta charset="utf-8">
    <meta name="author" content="Earlist">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Earlist, Early Adopters,Startups, Startups Mexico, Centraal, Earlist Mx, Earlist Club">
    <meta property="og:type" content="product">
    <meta property="og:site_name" content="Earlist">
    <meta name="fb:app_id" content="504038879644712">
    <meta property="og:locale" content="es_MX">
    <meta name="twitter:domain" content="earlist.xyz">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@earlistco">
    <meta name="google-site-verification" content="-sZsXaKygxGfhZX5_QhTU7fISKz3h7KlZi83Mf4yBkQ" />



    {% include "meta/meta.html" %}
    <title>Earlist</title>

    {% load staticfiles %}
    {% load socialaccount %}

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'blog/assets/fav/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'blog/assets/fav/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/assets/fav/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/assets/fav/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/assets/fav/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'blog/assets/fav/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/assets/fav/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'blog/assets/fav/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/assets/fav/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'blog/assets/fav/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/assets/fav/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'blog/assets/fav/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/assets/fav/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'blog/assets/fav/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'blog/assets/fav/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{% static 'blog/assets/css/toolkit.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/animate.css' %}" rel="stylesheet">
    
    <link href="{% static 'blog/assets/css/application.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/custom.css' %}" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100193283-1', 'auto');
    ga('send', 'pageview');

    </script>

    <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/main.js' %}"></script>
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>

    <script type="text/javascript" src="{% static 'blog/assets/bower_components/moment/min/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/assets/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'blog/assets/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" />

  </head>

	<body class="with-top-navbar">

	<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'blog:index' %}">
	        <img src="{% static 'blog/assets/img/brand-white-earlist.png' %}" alt="brand">
	      </a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar-collapse-main">

	        <ul class="nav navbar-nav hidden-xs">
	          <li>
	            <a href="{% url 'blog:index' %}">Startups</a>
	          </li>
	          <!-- <li>
	            <a href="">Agregar</a>
	          </li> -->
	          <li>
	            <a data-toggle="modal" href="{% url 'blog:events' %}">Eventos</a>
	          </li>
	          <li>
	            <a data-toggle="modal" href="{% url 'blog:jobs' %}">Trabajos</a>
	          </li>
	        </ul>

	        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
	          <!--<li >
	            <a class="app-notifications" href="notifications/index.html">
	              <span class="icon icon-bell"></span>
	            </a>
	          </li>-->
	          {% if user.is_authenticated %}
	          <li>
	          	<a href="{% url 'contribute' %}">Haz una publicación <i class="fa fa-plus-circle fa-lg"></i></a>
	          </li>
	          {% if user.is_staff %}
	          <li><a href="{% url 'blog:panel' %}"><i class="fa fa-bell"></i> {% if panel_count != 0 %}{{panel_count}}{% endif %}</a></li>
	          {% endif %}
	          <li>
	          	{% for account in user.socialaccount_set.all %}
	          		<button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
		              <img class="img-circle" src="{{ account.get_avatar_url }}">
		            </button>
			    {% endfor %}
	          </li>
	          {% else %}
	          <li>
	          	<a href="" data-toggle="modal" data-target=".add-modal"><i class="fa fa-plus-circle fa-lg"></i> Publicar</a>
	          </li>
	          <li>
	          	<a href="" data-toggle="modal" data-target=".login-modal"><i class="fa fa-twitter-square"></i> Login </a>
	          </li>
	          {% endif %}
	        </ul>

	        <!--<form class="navbar-form navbar-right app-search" role="search">
	          <div class="form-group">
	            <input type="text" class="form-control" data-action="grow" placeholder="Buscar">
	          </div>
	        </form>-->

	        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
	          <li>
	            <a href="{% url 'blog:index' %}">Startups</a>
	          </li>
	          <li>
	            <a href="{% url 'blog:events' %}">Eventos</a>
	          </li>
	          <li>
	            <a data-toggle="modal" href="{% url 'blog:post' %}">Publicar</a>
	          </li>
	          {% if user.is_authenticated %}
	          <li>
	          	{% for account in user.socialaccount_set.all %}
	          		<a href="{% url 'profile' 'votes' %}"><i class="fa fa-user"></i> {{account.user}}</a>
			    {% endfor %}
	          </li>
	          {% if user.is_staff %}
	          <li><a href="{% url 'blog:panel' %}">Panel</a></li>
	          {% endif %}
	          <li><a href="{% url 'account_logout' %}">Cerrar Sesión</a></li>
	          {% else %}
	          <li>
	          	<a href="{% provider_login_url "twitter" %}"><i class="fa fa-twitter-square"></i> Login </a>
	          </li>
	          {% endif %}
	        </ul>

	        <ul class="nav navbar-nav hidden">
	          <li><a href="{% url 'profile' 'votes' %}">Mi Perfil</a></li>
	          {% if user.is_staff %}
	          <li><a href="{% url 'blog:panel' %}">Panel</a></li>
	          {% endif %}
	          <li><a href="{% url 'account_logout' %}">Cerrar Sesión</a></li>
	        </ul>
	      </div>
	  </div>
	</nav>
			{% block content %}
			
			{% endblock %}
		</div>
	</div>
	<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	    	<div class="modal-header text-center bg-primary">
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    		<h4 class="modal-title">Iniciar Sesión</h4>
	    	</div>
	    	<div class="modal-body text-center m-b">
	    		<p class="lead">Inicia tu sesión con Twitter</p>
	    		<a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i> Login</a>
	    	</div>
	    
	    </div>
	  </div>
	</div>
	<div class="modal fade add-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	    	<div class="modal-header text-center bg-primary">
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    		<h4 class="modal-title">Contribuir</h4>
	    	</div>
	    	<div class="modal-body text-center m-b">
	    		<h2>Contribuir a Earlist</h2>
				<i class="fa fa-share-square-o fa-5x text-primary m-t"></i>
				<div class="row m-t-md m-b-md">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
						<p class="lead">Aquí es donde se comparten y descubren los mejores startups de Latinoamérica. Te invitamos a formar parte integral de nuestra comunidad al compartir una publicación.</p>
					</div>
				</div>
	    		<a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i> Login</a>
	    	</div>
	    
	    </div>
	  </div>
	</div>

    <script src="{% static 'blog/assets/js/chart.js' %}"></script>
    <script src="{% static 'blog/assets/js/toolkit.js' %}"></script>
    <script src="{% static 'blog/assets/js/application.js' %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>
