<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        Home &middot; 
      
    </title>

    {% load staticfiles %}
    {% load socialaccount %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{% static 'blog/assets/css/toolkit.css' %}" rel="stylesheet">
    
    <link href="{% static 'blog/assets/css/application.css' %}" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>

	<body class="with-top-navbar">

	<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="">
	        <img src="{% static 'blog/assets/img/brand-white.png' %}" alt="brand">
	      </a>
	    </div>
	    <div class="navbar-collapse collapse" id="navbar-collapse-main">

	        <ul class="nav navbar-nav hidden-xs">
	          <li class="active">
	            <a href="{% url 'blog:index' %}">Inicio</a>
	          </li>
	          <!-- <li>
	            <a href="">Agregar</a>
	          </li> -->
	          <li>
	            <!--<a data-toggle="modal" href="{% url 'blog:events' %}">Eventos</a>-->
	          </li>
	          <li>
	            <!--<a data-toggle="modal" href="{% url 'blog:jobs' %}">Trabajos</a>-->
	          </li>
	          <li>
	            <a data-toggle="modal" href="{% url 'contribute' %}">Contribuir</a>
	          </li>
	        </ul>

	        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
	          <!--<li >
	            <a class="app-notifications" href="notifications/index.html">
	              <span class="icon icon-bell"></span>
	            </a>
	          </li>-->
	          {% if user.is_authenticated %}
	          <li>
	          	{% for account in user.socialaccount_set.all %}
	          		<button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
		              <img class="img-circle" src="{{ account.get_avatar_url }}">
		            </button>
			    {% endfor %}
	          </li>
	          {% else %}
	          <li>
	          	<a href="{% provider_login_url "twitter" %}"><i class="fa fa-twitter-square"></i> Login </a>
	          </li>
	          {% endif %}
	        </ul>

	        <!--<form class="navbar-form navbar-right app-search" role="search">
	          <div class="form-group">
	            <input type="text" class="form-control" data-action="grow" placeholder="Buscar">
	          </div>
	        </form>-->

	        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
	          <li><a href="index.html">Home</a></li>
	          <li><a href="profile/index.html">Profile</a></li>
	          <li><a href="notifications/index.html">Notifications</a></li>
	          <li><a data-toggle="modal" href="#msgModal">Messages</a></li>
	          <li><a href="docs/index.html">Docs</a></li>
	          <li><a href="#" data-action="growl">Growl</a></li>
	          <li><a href="login/index.html">Logout</a></li>
	        </ul>

	        <ul class="nav navbar-nav hidden">
	          <li><a href="{% url 'profile' %}">My Perfil</a></li>
	          {% if user.is_staff %}
	          <li><a href="{% url 'panel' %}">Panel</a></li>
	          {% endif %}
	          <li><a href="{% url 'account_logout' %}">Cerrar Sesión</a></li>
	        </ul>
	      </div>
	  </div>
	</nav>	

	<div class="container p-t-md">
		<div class="row">
			{% block content %}
			
			{% endblock %}
		</div>
	</div>
	
    <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/chart.js' %}"></script>
    <script src="{% static 'blog/assets/js/toolkit.js' %}"></script>
    <script src="{% static 'blog/assets/js/application.js' %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>
