{% extends "blog/base.html" %}
{% block meta %}
<meta name="description" content="Earlist is he place where you can share an amazing startups with a great community.">

<meta property="og:title" content="Publish Startup | Earlist"/>
<meta property="og:description" content="Earlist is he place where you can share an amazing startups with a great community."/>
<meta name="twitter:description" content="Earlist is he place where you can share an amazing startups with a great community.">

<meta property="og:image" content="http://earlist.xyz/media/images/20180815/earlist.png"/>
<meta property="og:url" content="http://earlist.xyz/publish/"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://earlist.xyz/publish/">
<meta name="twitter:title" content="Publish Startup | Earlist">
<meta name="twitter:image" content="http://earlist.xyz/media/images/20180815/earlist.png">

<title>Publish Startups | Earlist</title>

{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-offset-2 col-md-8">
  <div class="panel panel-default">
  	<div class="panel-body text-center m-t">
		<h1>Publish on Earlist</h1>
		<i class="fa fa-share-square-o fa-5x text-primary m-t-md"></i>
		<div class="row m-t-md m-b-md">
			<div class="col-lg-1"></div>
			<div class="col-lg-10 m-b-md">
				<p class="lead">Share an amazing startup with the Earlist community. Remember love Blockchain, Food and Beverage, Ecommerce and overall tech startups.</p>
			</div>
			<div class="row text-center m-b-md">
				<div class="col-sm-8 col-sm-offset-2">
					<a class="btn btn-lg btn-success" href="{% url 'blog:post' %}">Publish Startup</a>
				</div>
				<!--<div class="col-sm-4">
					<a class="btn btn-lg btn-danger" href="{% url 'blog:event' %}">Publicar Evento</a>
				</div>-->
			</div>
		</div>
	</div>
  </div>
</div>

{% endblock content %}