{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-10 text-center">
	<div class="row">
		<div class="col-lg-12">
			<h1>Earlist</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-12 text-center">
			<p class="lead m-t">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			</p>
		</div>
	</div>
	<hr>
</div>
</div>
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
	<div class="m-t">
	  <div class="row">
	    <div class="col-md-4">
	      <div class="panel panel-default panel-profile">
	        <div class="panel-heading" style="background-image: url(https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11312291_348657648678007_1202941362_n.jpg);"></div>
	        <div class="panel-body text-center">
	          <img class="panel-profile-img" src="../assets/img/avatar-fat.jpg">
	          <h5 class="panel-title">Productos</h5>
	          <p class="m-b-md">Publica productos que hayas hecho o que conozcas</p>
	          <button class="btn btn-primary-outline btn-sm">
	            <span class="icon icon-add-user"></span> Publicar
	          </button>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="panel panel-default panel-profile">
	        <div class="panel-heading" style="background-image: url(https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11240760_365538423656311_112029877_n.jpg);"></div>
	        <div class="panel-body text-center">
	          <img class="panel-profile-img" src="../assets/img/avatar-mdo.png">
	          <h5 class="panel-title">Eventos</h5>
	          <p class="m-b-md">Comparte información sobre los mejores eventos aquí</p>
	          <button class="btn btn-primary-outline btn-sm">
	            <span class="icon icon-add-user"></span> Publicar
	          </button>
	        </div>
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="panel panel-default panel-profile">
	        <div class="panel-heading" style="background-image: url(https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11240760_365538423656311_112029877_n.jpg);"></div>
	        <div class="panel-body text-center">
	          <img class="panel-profile-img" src="../assets/img/avatar-mdo.png">
	          <h5 class="panel-title">Trabajos</h5>
	          <p class="m-b-md">¿Necesitas talento? Aquí puedes publicar tus vacantes</p>
	          <button class="btn btn-primary-outline btn-sm">
	            <span class="icon icon-add-user"></span> Publicar
	          </button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock content %}