{% extends "blog/base.html" %}
{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-7">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h1>{{ post.title }}</h1>
			<p class="lead m-t">{{ post.slogan }}</p>
			<div class="thumbnail m-t-md" style="background-color:white">
				<div style="
                        background: url('{{post.image_url}}');
                        background-size:cover;
                        background-position:center;
                        ">
                </div>
			</div>
			<p class="lead m-t-md">{{post.body}}</p>
			<a href="{{post.link}}" target="_blank" class="btn btn-primary m-t-md">
			  <i class="fa fa-location-arrow"></i> Ir a sitio web
			</a>
			<div class="row m-t-md">
				<hr>
				<div class="col-sm-6">
					<p><i class="fa fa-thumb-tack text-success"></i> <strong>{{post.city}}</strong></p>
				</div>
				<div class="col-sm-6">
					<p><i class="fa fa-clock-o text-primary"></i> <strong>{{post.created_at|date:"M d, Y"}}</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'blog/right-col.html' %}
{% endblock %}
