{% extends "blog/base.html" %}
{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-7">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h1>{{ post.title }}</h1>
			<p class="lead m-t">{{ post.slogan }}</p>
			<div class="thumbnail m-t-md" style="background-color:white">
				<div style="
                        background: url('{{post.image_url}}');
                        background-size:cover;
                        background-position:center;
                        ">
                </div>
			</div>
			<p class="lead m-t-md">{{post.body}}</p>
			<p>{{post.created_at}}</p>	
		</div>
	</div>
</div>
{% include 'blog/right-col.html' %}
{% endblock %}
