{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
{{ block.super }}
<div class="container p-t-md">
    <div class="row">
<div class="col-md-3">
  <div class="panel panel-default panel-profile m-b-md">
    {% for account in user.socialaccount_set.all %}
    <div class="panel-heading" style="background-image: url('{{ account.extra_data.profile_banner_url }}');"></div>
    <div class="panel-body text-center">
      
      <img class="panel-profile-img" src="{{ account.get_avatar_url }}">
    

      <h5 class="panel-title">
        {{user.first_name}} {{user.last_name}}
      </h5>

      <p class="m-b-md">{{account.extra_data.description}}</p>

      <ul class="panel-menu">
        <li class="panel-menu-item">
          
            Votados
            <h5 class="m-y-0">{{voted}}</h5>
          
        </li>

        <li class="panel-menu-item">
          
            Publicados
            <h5 class="m-y-0">{{posted}}</h5>
          
        </li>
      </ul>
    </div>
    {% endfor %}
  </div>

  <div class="panel panel-default visible-md-block visible-lg-block">
    <div class="panel-body">
      <h5 class="m-t-0">Eventos· <small><a href="{% url 'blog:events'%}">Ver Todos</a></small></h5>
      <ul class="list-unstyled list-spaced">
        {% for event in events_list %}
        <li><span class="text-muted icon icon-arrow-right m-r"></span>{{event.title}}
        {% endfor %}
      </ul>
      <hr>
      <ul class="list-unstyled list-spaced">
        {% for event in events %}
        <li><span class="text-muted icon icon-arrow-right m-r"></span>{{event.title}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div class="col-md-6">
  <ul class="nav nav-pills nav-justified">
    {% if view == 'votes' %}
    <li role="presentation" class="active"><a href="">Votados</a></li>
    <li role="presentation"><a href="{% url 'profile' 'posts' %}">Publicados</a></li>
    {% else %}
    <li role="presentation"><a href="{% url 'profile' 'votes'%}">Votados</a></li>
    <li role="presentation" class="active"><a href="">Publicados</a></li>
    {% endif %}
  </ul>

  <ul class="list-group media-list media-list-stream m-t-md">
    {% include page_template %}
  </ul>

</div>
{% include 'blog/right-col.html' %}
{% endblock %}