{% load el_pagination_tags %}

{% paginate context_list %}

{% if context_list.all %}
  {% for vote in context_list %}
  <li class="media list-group-item p-a">
    {% if view == 'votes' %}
      <a class="media-left" href="{% url 'detail' vote.post.slug %}">
      <div class="thumbnail-custom">
        <div style="
                background: url('{{vote.post.image_file.url}}');
                background-size:cover;
                background-position:center;
                ">
        </div>
      </div>
      </a>
      <div class="media-body">
        <div class="media-heading">
          <small class="pull-right text-muted hidden-xs"><i class="fa fa-clock-o text-primary"></i> {{vote.post.created_at|date:"M d, Y"}}</small>
          <a href="{% url 'detail' vote.post.slug %}" class="no-text-decoration"><h4>{{vote.post.title}}</h4></a>
          <h5>{{vote.post.slogan}}</h5>
          <div class="media">
            <div class="media-body">
              {% if vote.post.slug in votes_list %}
                <button id="votes-button-{{vote.post.id}}" onclick="vote('{{ vote.post.slug }}', 'down', {{ vote.post.id }});" type="button" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i><span id="votes-{{vote.post.id}}"> {{vote.post.votes}}</span></button>
              {% else %}
                <button id="votes-button-{{vote.post.id}}" onclick="vote('{{ vote.post.slug }}', 'up', {{ vote.post.id }});" type="button" class="btn btn-xs btn-default"><i class="fa fa-arrow-up"></i><span id="votes-{{vote.post.id}}"> {{vote.post.votes}}</span></button>
              {% endif %}
              <a href="{{vote.post.link}}?ref=earlist" target="_blank" type="button" class="btn btn-xs btn-default"><i class="fa fa-external-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <a class="media-left" href="{% url 'detail' vote.slug %}">
      <div class="thumbnail-custom">
        <div style="
                background: url('{{vote.image_file.url}}');
                background-size:cover;
                background-position:center;
                ">
        </div>
      </div>
      </a>
      <div class="media-body">
        <div class="media-heading">
          <small class="pull-right text-muted hidden-xs"><i class="fa fa-clock-o text-primary"></i> {{vote.created_at|date:"M d, Y"}}</small>
          <a href="{% url 'detail' vote.slug %}" class="no-text-decoration"><h4>{{vote.title}}</h4></a>
          <h5>{{vote.slogan}}</h5>
          <div class="media">
            <div class="media-body">
              {% if vote.slug in votes_list %}
                <button id="votes-button-{{vote.id}}" onclick="vote('{{ vote.slug }}', 'down', {{ vote.id }});" type="button" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i><span id="votes-{{vote.id}}"> {{vote.votes}}</span></button>
              {% else %}
                <button id="votes-button-{{vote.id}}" onclick="vote('{{ vote.slug }}', 'up', {{ vote.id }});" type="button" class="btn btn-xs btn-default"><i class="fa fa-arrow-up"></i><span id="votes-{{vote.id}}"> {{vote.votes}}</span></button>
              {% endif %}
              <a href="{{vote.link}}?ref=earlist" target="_blank" type="button" class="btn btn-xs btn-default"><i class="fa fa-external-link"></i></a>
              <a href="{% url 'update-post' vote.slug %}" class="btn btn-xs btn-primary-outline"><i class="fa fa-pencil"></i></a>
              <a href="{% url 'delete-post' vote.slug %}" class="btn btn-xs btn-danger-outline"><i class="fa fa-trash"></i></a>
              {% if vote.approved == 0 %}
                <button type="button" class="btn btn-xs btn-warning pull-right">Pending</button>
              {% elif vote.approved == 1 %}
                  <div class="btn btn-xs btn-success pull-right">Approved</div>
              {% else %}
                  <button type="button" class="btn btn-xs btn-danger pull-right">Rejected</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </li>
  {% endfor %}
{% else %}
{% if view == 'votes' %}
<li class="media list-group-item p-t text-center">
  <h2><i class="fa fa-arrow-up"></i> Vote</h2>
  <p class="m-t" style="font-size:17px">You haven't upvoted any product.</p>
  <a href="{% url 'blog:index' %}"><button type="button" class="btn btn-success w-full m-b">Go to home page</button></a>
</li>
{% else %}
<li class="media list-group-item p-t text-center">
  <h2>¡Hola {{user.first_name}}!</h2>
  <p class="m-t" style="font-size:17px">Publish a startup by clicking on this button.</p>
  <a href="{% url 'blog:post' %}"><button type="button" class="btn btn-success w-full m-b">Publish Startup</button></a>
</li>
{% endif %}
{% endif %}
{% show_more %}