{% load el_pagination_tags %}

{% paginate context_list %}

{% if context_list.all %}
  {% for vote in context_list %}
  <li class="media list-group-item p-a">
      <a class="media-left" href="{% url 'detail' vote.post.slug %}">
        <div class="thumbnail-custom">
          <div style="
                  background: url('{{vote.post.image_file.url}}');
                  background-size:cover;
                  background-position:center;
                  ">
          </div>
        </div>
      </a>
      <div class="media-body">
        <div class="media-heading">
          <small class="pull-right text-muted hidden-xs"><i class="fa fa-clock-o text-primary"></i> {{vote.post.created_at|date:"M d, Y"}}</small>
          <a href="{% url 'detail' vote.post.slug %}" class="no-text-decoration"><h4>{{vote.post.title}}</h4></a>
          <h5>{{vote.post.slogan}}</h5>
          <div class="media hidden-xs">
            <div class="media-body">
              {# <small><i class="fa fa-thumb-tack text-success"></i> {{post.city}}</small> #}
              <button type="button" class="btn btn-xs btn-default-outline"><i class="fa fa-arrow-up"></i> 0</button>
              <a href="{{vote.post.link}}" target="_blank" type="button" class="btn btn-xs btn-default-outline"><i class="fa fa-external-link"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            {# <p>{{post.body}}</p> #}
          </div>
          <div class="col-sm-4 text-right">
            {# <button type="button" class="btn btn-primary-outline pull w-full">Ir al sitio</button> #}
            {# <button type="button" class="btn btn-primary-outline pull w-full">Guardar</button> #}
          </div>
        </div>
        {# <button type="button" class="pull-right btn btn-xs btn-pill btn-primary">{{post.category}}</button> #}
      </div>
    </li>
  {% endfor %}
{% else %}
<li class="media list-group-item p-t text-center">
  <div class="alert alert-danger"><i class="fa fa-frown-o"></i> Aun no has agregado ningún producto...</div>
  <a href="{% url 'blog:post' %}"><button type="button" class="btn btn-primary w-full m-b">Agregar Producto</button></a>
</li>
{% endif %}
{% show_more %}