{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-9">
  <div class="row">
    {% for event in events_list %}
    <div class="col-md-4">
      <div class="panel panel-default panel-profile">
        <div class="panel-heading" style="background-image: url({{event.cover_url}});"></div>
        <div class="panel-body text-center" style="min-height:250px;">
          <img class="panel-profile-img" src="{{event.image_url}}">
          <h5 class="panel-title">{{event.title}}</h5>
          <p class="text-primary"><strong>{{event.event_date}}</strong></p>
          <p class="m-b-md">
            {{event.body}}
          </p>
        </div>
        <div class="panel-footer text-center">
          <a href="{{event.link}}">
            <button class="btn btn-primary-outline btn-sm" style="bottom:0px;">
              <span class="icon icon-add-user"></span> Mas información
            </button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'blog/right-col.html' %}
{% endblock %}