{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-sm-9">
  <div class="row">
    {% for event in events_list %}
    <div class="col-md-4">
      <div class="panel panel-default panel-profile">
        <div class="panel-heading" style="background-image: url({{event.cover_file.url}}); background-position:center: background-size:cover"></div>
        <div class="panel-body text-center">
          <img class="panel-profile-img" src="{{event.image_file.url}}">
          <h5 class="panel-title">{{event.title}}</h5>
          <p><strong class="text-primary">{{event.date_time|date:"M d, Y"}}</strong><br><strong>{{event.date_time|date:"g:i a"}}</strong></p>
          <p class="m-b-md">
            {{event.body}}
          </p>
        </div>
        <div class="panel-footer text-center">
          <a href="{{event.link}}?ref=earlist" target="_blank">
            <button class="btn btn-primary-outline btn-sm" style="bottom:0px;">
              Mas información
            </button>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include 'blog/right-col.html' %}
{% endblock %}