{% extends "blog/base.html" %}
{% load staticfiles %}
{% block meta %}
    <meta name="description" content="Here you can find our Frequently Asked Questions (FAQ). We can't wait to see you share a great startup.">

    <meta property="og:title" content="FAQ | Earlist"/>
    <meta property="og:description" content="Here you can find our Frequently Asked Questions (FAQ). We can't wait to see you share a great startup."/>
    <meta name="twitter:description" content="Here you can find our Frequently Asked Questions (FAQ). We can't wait to see you share a great startup.">

    <meta property="og:image" content="http://earlist.xyz/media/images/20180815/earlist.png"/>
    <meta property="og:url" content="http://earlist.xyz/faq/"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://earlist.xyz/faq/">
    <meta name="twitter:title" content="FAQ | Earlist">
    <meta name="twitter:image" content="http://earlist.xyz/media/images/20180815/earlist.png">

    <title>Terms of Service | Earlist</title>
{% endblock %}
{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-offset-2 col-md-8">
  <div class="panel panel-default">
    <div class="panel-body m-t">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <section class="contentSection">
    <br>
    <h4 class="contentSection__title">What is Earlist?</h4>
    <p class="contentSection__body">Earlist is the ultimate go-to place if you want to discover what’s next on blockchain,  technology, food and beverage, trends and much more. Here you can find all the awesome ideas you are looking for, and best of all, you can launch your own</p>
    <h4 class="contentSection__title">How do I submit my startup?</h4>
    <p class="contentSection__body">You can submit it here: <a href="{% url 'blog:post' %}">Share</a></p>
    <h4 class="contentSection__title">How do I advertise on Earlist?</h4>
    <p class="contentSection__body">You can't yet advertise on Earlist, but you can submit your startup an if it meets our criteria it will be featured for free.</a>.</p>
    <h4 class="contentSection__title">What happens after I submit my startup?</h4>
    <p class="contentSection__body">After you submit your startup, we will review it an see if it matches our criteria. If it is a good fit, you will receive an email when we post it to our site. It usually takes 1 month to get it featured. There's a paid option to expedite your post and publish instantly.
    <h4 class="contentSection__title">What is the selection criteria?</h4>
    <p class="contentSection__body">In general we like cool companies around blockchain, food and beverage, and overall tech.</a>.</p>
    <h4 class="contentSection__title">I don&rsquo;t match the selection criteria, will you make an exception?</h4>
    <p class="contentSection__body">No. These criteria are geared towards the preferences of our audience.</p>
</div>
</div>
</div>

{% endblock %}