{% extends "blog/base.html" %}

{% load staticfiles %}
{% load socialaccount %}


{# {% load static %} #}

{# {% block js %} #}
{% block content %}
  {{ block.super }}
  {% if not user.is_authenticated %}
  <div class="jumbotron" style="background-color:white; border-bottom: 1px solid #eeeeee;">
    <div class="container">
      <div class="row text-justify">
        <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-8">
        <h1 style="font-size:30px">Find and Share Amazing Startups</h1>
        <p style="font-size:16px">Earlist is the place where you can find amazing startups doing a wide range of innovative products. Unlike other startup submission blogs, we like to share companies that are game changers in tech, blockchain, food and beverage, ecommerce, and more.</p>
          <p><a class="btn btn-primary btn-md" data-toggle="modal" data-target=".login-modal" role="button">Create an account</a></p>
        </div>
      </div>  
    </div>
  </div>
  {% endif %}

  <div class="container p-t-md">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-8">
        {% include page_template %}
      </div>
      <div class="modal fade vote-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center bg-primary">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Log In First</h4>
            </div>
            <div class="modal-body text-center m-b">
              <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> You have to log in first to upvote this startup.</div>
              <a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-md btn-primary w-full"><i class="fa fa-twitter"></i> Login now</a>
            </div>
          </div>
        </div>
      </div>
{% include 'blog/right-col.html' %}
{% endblock %}