{% extends "blog/base.html" %}
{% block meta %}
    <meta name="description" content="Earlist is the place where you can find amazing startups doing a wide range of innovative products.">

    <meta property="og:title" content="Earlist | Discover And Share Startups"/>
    <meta property="og:description" content="Earlist is the place where you can find amazing startups doing a wide range of innovative products. "/>
    <meta name="twitter:description" content="Earlist is the place where you can find amazing startups doing a wide range of innovative products. ">

    <meta property="og:image" content="http://earlist.xyz/media/images/20180815/earlist.png"/>
    <meta property="og:url" content="http://earlist.xyz"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://earlist.xyz">
    <meta name="twitter:title" content="Earlist | Discover And Share Startups">
    <meta name="twitter:image" content="http://earlist.xyz/media/images/20180815/earlist.png">

    <title>Earlist | Discover And Share Startups</title>
{% endblock %}

{% load staticfiles %}
{% load socialaccount %}


{# {% load static %} #}

{# {% block js %} #}
{% block content %}
  {{ block.super }}
  {% if not user.is_authenticated %}
  <div class="jumbotron" style="background-color:white; border-bottom: 1px solid #eeeeee;">
    <div class="container">
      <div class="row text-justify">
        <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-8">
        <h1 style="font-size:30px">Find and Share Startups</h1>
        <p style="font-size:16px">Earlist is the place where you can find amazing startups doing a wide range of innovative products. Unlike other startup submission blogs, we like to share companies that are game changers in tech, blockchain, food and beverage, ecommerce, and more.</p>
          <p><a class="btn btn-primary btn-md" data-toggle="modal" data-target=".login-modal" role="button">Create an account</a></p>
        </div>
      </div>  
    </div>
  </div>
  {% endif %}

  <div class="container p-t-md">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-8">
          {% if featured_list %}
          <h5><i class="fa fa-star" style="color:#e5e500"></i> Featured Startups</h5>
          {% endif %}
          <ul class="list-group media-list media-list-stream">
          {% for item in featured_list %}
            {% if item.approved == 1 %}
                <li class="media list-group-item p-a">
                  <a class="media-left" href="{% url 'detail' item.slug %}" onclick="ga('send', 'event', '{{item.slug}}', 'Click', 'post-image');">
                    <div class="thumbnail-custom">
                      <div title="{{item.title}}" style="
                              background: url('{{item.image_file.url}}');
                              background-size:cover;
                              background-position:center;
                              ">
                      </div>
                    </div>
                  </a>
                  <div class="media-body">
                    <div class="media-heading">
                      <small class="pull-right text-muted"><i class="fa fa-clock-o text-primary"></i> {{item.date|date:"M d, Y"}}</small>
                      <a href="{% url 'detail' item.slug %}" onclick="ga('send', 'event', '{{item.slug}}', 'Click', 'post-title');" class="no-text-decoration"><h4>{{item.title}}</h4></a>
                      <h5 class="slogan">{{item.slogan}}</h5>
                      <div class="media">
                        <div class="media-body">

                          {% if user.is_authenticated %}
                            {% if item.slug in votes_list %}
                              <button id="votes-button-{{item.id}}" onclick="vote('{{ item.slug }}', 'down', {{ item.id }});" type="button" class="btn btn-xs btn-primary"><i class="fa fa-arrow-up"></i><span id="votes-{{item.id}}"> {{item.votes}}</span></button>
                            {% else %}
                              <button id="votes-button-{{item.id}}" onclick="vote('{{ item.slug }}', 'up', {{ item.id }});" type="button" class="btn btn-xs btn-default"><i class="fa fa-arrow-up"></i><span id="votes-{{item.id}}"> {{item.votes}}</span></button>
                            {% endif %}
                          {% else %}
                            <button type="button" data-toggle="modal" data-target=".vote-modal" class="btn btn-xs btn-default"><i class="fa fa-arrow-up"></i>{{item.votes}}</button>
                          {% endif %}

                          <a href="{{item.link}}?ref=earlist" onclick="ga('send', 'event', '{{item.slug}}', 'Click', 'external-link');" target="_blank" type="button" class="btn btn-xs btn-default" style="padding:4 4 4 4"><i class="fa fa-external-link"></i></a>
                          <i class="fa fa-star"style="color:#e5e500"></i> Featured
                          {% for account in item.user.socialaccount_set.all %}
                          <div data-toggle="tooltip" data-placement="bottom" title="{{account.user}}" class="pull-right"style="
                                width:22px;
                                height:22px;
                                border-radius:22px;
                                background: url('{{account.get_avatar_url}}');
                                background-size:cover;
                                background-position:center;
                                ">
                          </div>
                          {%endfor%}  
                        </div>
                        <!--<a class="media-left" href="#">
                          <img class="media-object img-circle" style="width:25px;"src="https://pbs.twimg.com/profile_images/423161155104681985/9mYQOnT2_400x400.jpeg">
                        </a>
                        <div class="media-body">
                          <small>@priverass</small>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </li>
            {% endif %}
          {% endfor %}
          </ul>
        {% include page_template %}
      </div>
      <div class="modal fade vote-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center bg-primary">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Log In First</h4>
            </div>
            <div class="modal-body text-center m-b">
              <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> You have to log in first to upvote this startup.</div>
              <a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-md btn-primary w-full"><i class="fa fa-twitter"></i> Login now</a>
            </div>
          </div>
        </div>
      </div>
{% include 'blog/right-col.html' %}
{% endblock %}