{% extends "blog/base.html" %}
{% block meta %}
    <meta name="description" content="Earlist is the place where you can find amazing startups doing a wide range of innovative products.">

    <meta property="og:title" content="Earlist | Discover And Share Startups"/>
    <meta property="og:description" content="Earlist is the ultimate go-to place if you want to discover what’s next on blockchain,  technology, food and beverage, trends and much more."/>
    <meta name="twitter:description" content="Earlist is the ultimate go-to place if you want to discover what’s next on blockchain,  technology, food and beverage, trends and much more.">

    <meta property="og:image" content="http://earlist.xyz/media/images/20180815/earlist.png"/>
    <meta property="og:url" content="http://earlist.xyz"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://earlist.xyz">
    <meta name="twitter:title" content="Earlist | Discover And Share Startups">
    <meta name="twitter:image" content="http://earlist.xyz/media/images/20180815/earlist.png">

    <title>Earlist | Discover and Share Startups</title>
{% endblock %}

{% load staticfiles %}
{% load socialaccount %}


{# {% load static %} #}

{# {% block js %} #}
{% block content %}
  {{ block.super }}
  {% if not user.is_authenticated %}
  <div class="jumbotron" style="background-color:white; border-bottom: 1px solid #eeeeee;">
    <div class="container">
      <div class="row text-justify">
        <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-8">
        <h1 style="font-size:30px">Discover and Share Startups</h1>
        <p style="font-size:16px">Earlist is the ultimate go-to place if you want to discover what’s next on blockchain,  technology, food and beverage, trends and much more. Here you can find all the awesome ideas you are looking for, and best of all, you can launch your own! Join now and share with our community.</p>
          <p><a class="btn btn-primary btn-md" data-toggle="modal" data-target=".login-modal" role="button">Create an account</a></p>
        </div>
      </div>  
    </div>
  </div>
  {% endif %}

  <div class="container p-t-md">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-8">
          {% if featured_list %}
          <h5><i class="fa fa-star" style="color:#e5e500"></i> Featured Startups</h5>
          {% endif %}
          <div class="row">
            {% for item in featured_list %}
            <div class="col-sm-4 col-xs-6">
              <div class="panel panel-default m-b-md">
                <div class="panel-body">
                  <a href="{% url 'detail' item.slug %}" onclick="ga('send', 'event', '{{item.slug}}', 'Click', 'post-title');" class="no-text-decoration"><h5 class="m-t-0">{{item.title}}</h5></a>
                  <a href="{% url 'detail' item.slug %}" onclick="ga('send', 'event', '{{item.slug}}', 'Click', 'post-image');">
                    <div style="width:100%; height:100px">
                      <div title="{{item.title}}" style="
                              height:100px;
                              background: url('{{item.image_file.url}}');
                              background-size:cover;
                              background-position:center;
                              ">
                      </div>
                    </div>
                  </a>
                  <p style="margin-top:10px">{{item.body|truncatechars:70}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% include page_template %}
      </div>
      <div class="modal fade vote-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center bg-primary">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Log In First</h4>
            </div>
            <div class="modal-body text-center m-b">
              <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> You have to log in first to upvote this startup.</div>
              <a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-md btn-primary w-full"><i class="fa fa-twitter"></i> Login now</a>
            </div>
          </div>
        </div>
      </div>
{% include 'blog/right-col.html' %}
{% endblock %}