{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="col-md-3">
  <div class="panel panel-default panel-profile m-b-md">
    {% for account in user.socialaccount_set.all %}
    <div class="panel-heading" style="background-image: url('{{ account.extra_data.profile_banner_url }}');"></div>
    <div class="panel-body text-center">
      <a href="profile/index.html">
            <img class="panel-profile-img" src="{{ account.get_avatar_url }}">
      </a>

      <h5 class="panel-title">
        <a class="text-inherit" href="profile/index.html">{{first_name}} {{last_name}}</a>
      </h5>

      <p class="m-b-md">{{account.extra_data.description}}</p>

      <ul class="panel-menu">
        <li class="panel-menu-item">
          <a href="#userModal" class="text-inherit" data-toggle="modal">
            Followers
            <h5 class="m-y-0">{{account.extra_data.followers_count}}</h5>
          </a>
        </li>

        <li class="panel-menu-item">
          <a href="#userModal" class="text-inherit" data-toggle="modal">
            Posts
            <h5 class="m-y-0">1</h5>
          </a>
        </li>
      </ul>
    </div>
    {% endfor %}
  </div>
  <div class="panel panel-default visible-md-block visible-lg-block">
    <div class="panel-body">
      <h5 class="m-t-0">Trabajos <small>· <a href="{% url 'blog:jobs' %}">Ver Todos</a></small></h5>
      <ul class="list-unstyled list-spaced">
        {% for job in jobs_list %}
        <li><span class="text-muted icon icon-arrow-right m-r"></span>{{job.title}} <a href="#">{{job.company}}</a>
        {% endfor %}
      </ul>
      <hr>
      <h5 class="m-t-0">Publicados por mi <small>· <a href="">Ver Todos</a></small></h5>
      <ul class="list-unstyled list-spaced">
        {% for job in my_jobs_list %}
        <li><span class="text-muted icon icon-arrow-right m-r"></span>{{job.title}} <a href="#">{{job.company}}</a>
        {% endfor %}
      </ul>
      <a href="{% url 'blog:job' %}"><div class="btn btn-primary w-full">Publicar Puesto</div></a>
    </div>
  </div>

  <div class="panel panel-default visible-md-block visible-lg-block">
    <div class="panel-body">
      <h5 class="m-t-0">Eventos <small>· <a href="{% url 'blog:events'%}">Ver Todos</a></small></h5>
      <ul class="list-unstyled list-spaced">
        {% for event in events_list %}
        <li><span class="text-muted icon icon-arrow-right m-r"></span>{{event.title}}
        {% endfor %}
      </ul>
      <hr>
      <h5 class="m-t-0">Publicados por mi <small>· <a href="#">Ver Todos</a></small></h5>
      <ul class="list-unstyled list-spaced">
        {% for event in my_events_list %}
        <li><span class="text-muted icon icon-arrow-right m-r"></span>{{event.title}}
        {% endfor %}
      </ul>
      <a href="{% url 'blog:event' %}"><div class="btn btn-primary w-full">Publicar Evento</div></a>
    </div>
  </div>
</div>

<div class="col-md-6">
  <ul class="list-group media-list media-list-stream">

    <li class="media list-group-item p-a">
      <a href="{% url 'blog:post' %}"><button type="button" class="btn btn-primary w-full">Agregar Producto</button></a>
    </li>
    {% for post in posts_list %}
    <li class="media list-group-item p-a">
        <a class="media-left" href="{% url 'detail' post.slug %}">
          <div class="thumbnail-custom">
            <div style="
                    background: url('{{post.image_url}}');
                    background-size:cover;
                    background-position:center;
                    ">
            </div>
          </div>
        </a>
        <div class="media-body">
          <div class="media-heading">
            <small class="pull-right text-muted">{{post.created_at}}</small>
            <a href="{% url 'detail' post.slug %}" class="no-text-decoration"><h4>{{post.title}}</h4></a>
            <h5>{{post.slogan}}</h5>
            <div class="media">
              <div class="media-body">
                <button type="button" class="btn btn-xs btn-primary-outline"><i class="fa fa-pencil"></i> Editar</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              {# <p>{{post.body}}</p> #}
            </div>
            <div class="col-sm-4 text-right">
              {# <button type="button" class="btn btn-primary-outline pull w-full">Ir al sitio</button> #}
              {# <button type="button" class="btn btn-primary-outline pull w-full">Guardar</button> #}
            </div>
          </div>
          {# <button type="button" class="pull-right btn btn-xs btn-pill btn-primary">{{post.category}}</button> #}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% include 'blog/right-col.html' %}
{% endblock %}