<div class="col-md-3 hidden-xs hidden-sm">
  <!--<div class="alert alert-warning alert-dismissible hidden-xs" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="alert-link" href="profile/index.html">Visit your profile! </a> Check your self, you aren't looking too good.
  </div>-->

  <div class="panel panel-default m-b-md">
    <div class="panel-body">
      <h5 class="m-t-0">Patrocinador</h5>
      <a href="http://angularmexico.com/workshops/?ref=earlist" target="_blank">
        <div data-grid="images" >
          <img class="media-object" src="http://centraal.com/images-e/rzs-slider/mac.jpg">
        </div>
      </a>
      <p><strong>Centraal</strong><br>Centraal es un espacio innovador donde podrás trabajar, asistir a eventos, realizar reuniones y conocer gente como tú.</p>
      <a href="http://centraal.com/?ref=earlist" target="_blank" class="btn btn-primary-outline btn-sm">Mas Información</a>
    </div>
  </div>

  <div class="panel panel-default m-b-md">
    <div class="panel-body">
      <h5 class="m-t-0">Patrocinador</h5>
      <a href="https://www.beerhouse.mx/#!/?ref=earlist" target="_blank">
        <div data-grid="images" >
          <img class="media-object" src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/13092079_854180174725362_6291673893954995231_n.png?oh=c52ff800cc974e3a580249db489878db&oe=57D75815">
        </div>
      </a>
      <p><strong>Beerhouse.mx</strong><br>Las mejores cervezas de México y el mundo directo a tu casa</p>
      <a href="https://www.beerhouse.mx/#!/?ref=earlist" target="_blank" class="btn btn-primary-outline btn-sm">Visitar el Sitio</a>
    </div>
  </div>

  <div class="panel panel-default m-b-md">
    <div class="panel-body">
    <h5 class="m-t-0">Síguenos <!--<small>· <a href="#">View All</a></small>--></h5>
    <ul class="media-list media-list-stream">
      <li class="media m-b">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/731722360294805504/ZMdSlk_E_400x400.jpg">
        </a>
        <div class="media-body">
          <strong>Earlist</strong> @earlistco
          <div class="media-body-actions">
            <a href="https://twitter.com/intent/follow?screen_name=@earlistco" class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</a>
          </div>
        </div>
      </li>
      <!--<li class="media">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/423161155104681985/9mYQOnT2_400x400.jpeg">
        </a>
        <div class="media-body">
          <strong>Pablo Rivera</strong> @priverass
          <div class="media-body-actions">
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</button></button>
          </div>
        </div>
      </li>
      <li class="media">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/673723930654314496/ZjkCi9BU_400x400.jpg">
        </a>
        <div class="media-body">
          <strong>Josue Gutierrez</strong> @eusoj
          <div class="media-body-actions">
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</button></button>
          </div>
        </div>
      </li>
      <li class="media">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/632604490126852096/TDiLqs2f_400x400.jpg">
        </a>
        <div class="media-body">
          <strong>David Peña</strong> @dpena31
          <div class="media-body-actions">
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</button></button>
          </div>
        </div>
      </li>-->
    </ul>
    </div>
    <div class="panel-footer">
      Enterate de todo lo que está pasando en Earlist.
    </div>
  </div>

  <div class="panel panel-default panel-link-list">
    <div class="panel-body">
      © 2016 Earlist

      <!--<a href="#">Nosotros</a>
      <a href="#">Ayuda</a>
      <a href="#">Blog</a>-->
      <a href="#">Contacto</a>
      <!-- <a href="#">Apps</a>
      <a href="#">Talento</a>
      <a href="#">Advertise</a> -->
      <a href="#">Términos y Condiciones</a>
      <a href="#">Privacidad</a>
    </div>
  </div>
</div>
<script src="https://platform.twitter.com/widgets.js"></script>