<div class="col-md-3 hidden-xs hidden-sm">
  <!--<div class="alert alert-warning alert-dismissible hidden-xs" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <a class="alert-link" href="profile/index.html">Visit your profile! </a> Check your self, you aren't looking too good.
  </div>-->

  {% for sponsor in sponsors %}

  <div class="panel panel-default m-b-md">
    <div class="panel-body">
      <h5 class="m-t-0">Sponsor</h5>
      <a href="{{sponsor.link}}?ref=earlist" target="_blank" onclick="ga('send', 'event', 'sponsored', 'Click', 'centraal-image');">
        <div data-grid="images" >
          <img style="max-width:245px"  class="media-object" src="{{sponsor.image_file.url}}">
        </div>
      </a>
      <p style="margin-top:10px"><strong>{{sponsor.title}}</strong><br>{{sponsor.body}}</p>
      <a href="{{sponsor.link}}?ref=earlist" target="_blank" class="btn btn-primary-outline btn-sm" onclick="ga('send', 'event', 'sponsored', 'Click', 'centraal-title');" >More Info</a>
    </div>
  </div>

  {% endfor %}

  <!--<div class="panel panel-default m-b-md">
    <div class="panel-body">
      <h5 class="m-t-0">Patrocinador</h5>
      <a href="https://www.beerhouse.mx/#!/?ref=earlist" target="_blank" onclick="ga('send', 'event', 'sponsored', 'Click', 'beerhouse-image');">
        <div data-grid="images" >
          <img class="media-object" src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/13307274_874197289390317_8116642340237684147_n.png?oh=24bf6e0cf844d147af5b75c2c49ff7d1&oe=57D70283">
        </div>
      </a>
      <p><strong>Beerhouse.mx</strong><br>Las mejores cervezas de México y el mundo directo a tu casa</p>
      <a href="https://www.beerhouse.mx/#!/?ref=earlist" target="_blank" class="btn btn-primary-outline btn-sm" onclick="ga('send', 'event', 'sponsored', 'Click', 'beerhouse-title');">Mas información</a>
    </div>
  </div>-->

  <div class="panel panel-default m-b-md">
    <div class="panel-body">
    <h5 class="m-t-0">Follow Us <!--<small>· <a href="#">View All</a></small>--></h5>
    <ul class="media-list media-list-stream">
      <li class="media m-b">
        <a class="media-left" href="#">
          <img 
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/731722360294805504/ZMdSlk_E_400x400.jpg">
        </a>
        <div class="media-body">
          <strong>Earlist</strong> @earlistco
          <div class="media-body-actions">
            <a href="https://twitter.com/intent/follow?screen_name=@earlistco" class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</a>
          </div>
        </div>
      </li>
      <!--<li class="media">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/423161155104681985/9mYQOnT2_400x400.jpeg">
        </a>
        <div class="media-body">
          <strong>Pablo Rivera</strong> @priverass
          <div class="media-body-actions">
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</button></button>
          </div>
        </div>
      </li>
      <li class="media">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/673723930654314496/ZjkCi9BU_400x400.jpg">
        </a>
        <div class="media-body">
          <strong>Josue Gutierrez</strong> @eusoj
          <div class="media-body-actions">
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</button></button>
          </div>
        </div>
      </li>
      <li class="media">
        <a class="media-left" href="#">
          <img
            class="media-object img-circle"
            src="https://pbs.twimg.com/profile_images/632604490126852096/TDiLqs2f_400x400.jpg">
        </a>
        <div class="media-body">
          <strong>David Peña</strong> @dpena31
          <div class="media-body-actions">
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-add-user"></span> Follow</button></button>
          </div>
        </div>
      </li>-->
    </ul>
    </div>
    <div class="panel-footer">
      Don't miss on all our cool stuff. Follow us now.
    </div>
  </div>

  <div class="panel panel-default panel-link-list">
    <div class="panel-body">
      Earlist is project made by<a href="http://attomik.com" target="_blank" style="color:black"><img src="http://attomik.com/static/blog/assets/img/physics.svg" style="width:15px;"><b> Attomik</b> </a>a Digital Product Agency. Contact us at<a href="mailto:hello@earlist.xyz?Subject=Contact%Earlist">hello@attomik.com</a>

      <!--<a href="#">Nosotros</a>
      <a href="#">Ayuda</a>
      <a href="#">Blog</a>-->
      <!-- <a href="#">Apps</a>
      <a href="#">Talento</a>
      <a href="#">Advertise</a> -->
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </div>
  </div>
</div>
<script src="https://platform.twitter.com/widgets.js"></script>