{% extends "blog/base.html" %}
{% load socialaccount %}
{% block meta %}
    <meta name="description" content="Earlist is the place where you can find amazing startups doing a wide range of innovative products.">

    <meta property="og:title" content="Share Startup | Earlist"/>
    <meta property="og:description" content="Share an amazing startup with the Earlist community. Remember love Blockchain, Food and Beverage, Ecommerce and overall tech companies."/>
    <meta name="twitter:description" content="Share an amazing startup with the Earlist community. Remember love Blockchain, Food and Beverage, Ecommerce and overall tech companies.">

    <meta property="og:image" content="http://earlist.xyz/media/images/20180815/earlist.png"/>
    <meta property="og:url" content="http://earlist.xyz"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://earlist.xyz/share/">
    <meta name="twitter:title" content="Share Startup | Earlist">
    <meta name="twitter:image" content="http://earlist.xyz/media/images/20180815/earlist.png">

    <title>Share Startup | Earlist</title>
{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-offset-2 col-md-8">
  <div class="panel panel-default">
    <div class="panel-body text-center m-t">
    <h2>Share a Startup on Earlist</h2>
    <i class="fa fa-share-square-o fa-5x text-primary m-t-md"></i>
    <div class="row m-t-md m-b-md">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 m-b-md">
        <p class="lead">Share an amazing startup with the Earlist community. Remember we love Blockchain, Food and Beverage, Ecommerce and overall tech companies.</a></p>
      </div>
      <div class="row text-center m-b-md">
        <div class="col-sm-8 col-sm-offset-2">
          <a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i>Login</a>
        </div>
        <!--<div class="col-sm-4">
          <a class="btn btn-lg btn-danger" href="{% url 'blog:event' %}">Publicar Evento</a>
        </div>-->
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}