{% extends "blog/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
 <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-D H:mm:ss',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            }
        });
    });
</script>
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-offset-2 col-sm-8">
	<div class="panel panel-default">
      	<div class="panel-body text-center m-t">
    		<h2>Contribuir a Earlist</h2>
    		<i class="fa fa-users fa-5x text-primary m-t-md"></i>
    		<div class="row m-t-md m-b">
    			<div class="col-lg-1"></div>
    			<div class="col-lg-10">
    				<p class="lead">Aquí puedes publicar tu evento. Estamos ansiosos por saber de que se trata para poder compartirlo con nuestra comunidad.</p>
    			</div>
    		</div>
    		{# <a href="{% url 'profile' %}"><button type="button" class="btn btn-lg btn-pill btn-primary m-b-md">Finalizar</button></a> #}
    	</div>
    </div>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
	<form enctype="multipart/form-data" action="{% url 'blog:event' %}" method="post" data-toggle="validator">
		{% csrf_token %}
		<div class="form-group">
			<label for="title">Nombre del Evento</label>
			{{ form.title|attr:"placeholder:ej: Earlist"|add_class:"form-control"|attr:"required"|attr:"maxlength:16" }}
		</div>
		<div class="form-group">
			<label for="body">Describe el evento en una oración</label>
			{{ form.body|attr:"placeholder:ej: Earlist es el lugar donde encuentras..."|add_class:"form-control"|attr:"required"|attr:"maxlength:100" }}
		</div>
		<div class="form-group">
			<label for="body">Url para más información</label>
			{{ form.link|attr:"placeholder:http://earlist.io"|add_class:"form-control"|attr:"required" }}
		</div>
		<div class="form-group">
			<label for="body">Imagen del Evento <i class="fa fa-info-circle text-primary" data-toggle="modal" data-target="#myModal"></i></label><small> Haz click aquí para más info</small>
            <br>
            <span class="btn btn-default btn-file">
                <i class="fa fa-upload"></i> Importar{{ form.image_file|attr:"required"|attr:"onchange=readURL(this)"|attr:"id=imgIns" }}
            </span><div id="upload"></div>
		</div>
        <div class="form-group w-md">
            <label for="body">Fecha y hora</label>
            <div class='input-group date' id='datetimepicker1'>
                {{ form.date_time|add_class:"form-control"|attr:"required" }}
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
		<div class="form-group m-t-md m-b-lg">
			<input type='submit' value='Enviar' class ="btn btn-primary w-full" />
		</div>
	</form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Imagen para publicación</h4>
      </div>
      <div class="modal-body text-center">
        <p class="lead">En esta sección necesitamos que agregues una imagen para el evento.</p>
        <div class="row">
        	<div class="col-sm-4 m-b">
        		<p>Puedes usar un GIF</p>
        		<div class="thumbnail-custom ">
        			<div style="
        			background: url('https://ph-files.imgix.net/3a799844-a0d9-4bb4-a33f-9605140aef16?auto=format&w=430&h=570&fit=max');
                    background-size:cover;
                    background-position:center;
                    margin: 0 auto;
                    ">
                	</div>
            	</div>
        	</div>
        	<div class="col-sm-4 m-b">
        		<p>una screenshot de inicio</p>
        		<div class="thumbnail-custom">
        			<div style="
        			background: url('https://api.url2png.com/v6/P5329C1FA0ECB6/b4ab4ddcd7b56d8242f409a188737ab3/png/?thumbnail_max_width=260&url=http%3A%2F%2Flaunchkey.com%2Fwhitelabel');
                    background-size:cover;
                    background-position:center;
                    margin: 0 auto;
                    ">
                	</div>
            	</div>
        	</div>
        	<div class="col-sm-4 m-b">
        		<p>o cualquier imagen</p>
        		<div class="thumbnail-custom">
        			<div style="
        			background: url('https://ph-files.imgix.net/7c9a5b08-ca35-4d06-b417-ccc8207aeb8b?auto=format&w=430&h=570&fit=max');
                    background-size:cover;
                    background-position:center;
                    margin: 0 auto;
                    ">
                	</div>
            	</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer m-t-md">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}