{% extends "blog/base.html" %}
{% load socialaccount %}
{% block meta %}
<meta name="description" content="Earlist is he place where you can share an amazing startups with a great community.">

<meta property="og:title" content="Publish Startup | Earlist"/>
<meta property="og:description" content="Earlist is he place where you can share an amazing startups with a great community."/>
<meta name="twitter:description" content="Earlist is he place where you can share an amazing startups with a great community.">

<meta property="og:image" content="https://ibb.co/ioo5vF"/>
<meta property="og:url" content="http://earlist.xyz/publish/"/>
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="http://earlist.xyz/publish/">
<meta name="twitter:title" content="Publish Startup | Earlist">
<meta name="twitter:image" content="https://scontent.fmex8-2.fna.fbcdn.net/v/
t31.0-8/19693860_1544598535590554_9103271582238767312_o.png?oh=c46969531924039baa120da86bc14fdf&oe=5A077A72">

<title>Publish Startups | Earlist</title>

{% endblock %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-offset-2 col-sm-8">
	<div class="panel panel-default">
      	<div class="panel-body text-center m-t">
    		<h1>Share a Startup on Earlist</h1>
    		<i class="fa fa-users fa-5x text-primary m-t-md"></i>
    		<div class="row m-t-md m-b">
    			<div class="col-lg-1"></div>
    			<div class="col-lg-10">
    				<p class="lead">Share an amazing startup with the Earlist community. Remember we love Blockchain, Food and Beverage, Ecommerce and overall tech companies.</p>
    			</div>
    		</div>
            {% if user.is_authenticated %}
            {% else %}
            <a href="{% provider_login_url "twitter" %}" type="button" class="btn btn-lg btn-primary"><i class="fa fa-twitter"></i>Login</a>
            {% endif %}
    		{# <a href="{% url 'profile' %}"><button type="button" class="btn btn-lg btn-pill btn-primary m-b-md">Finalizar</button></a> #}
    	</div>
    </div>
    {% if user.is_authenticated %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
	<form enctype="multipart/form-data" action="{% url 'blog:post' %}" method="post" data-toggle="validator">
		{% csrf_token %}
		<div class="form-group">
        
			<label for="title">Company Name</label>
			{{ form.title|attr:"placeholder:ej: Earlist"|add_class:"form-control"|attr:"required"|attr:"maxlength:16" }}
		</div>
		<div class="form-group">
			<label for="slogan">Company Slogan</label>
			{{ form.slogan|attr:"placeholder:ej: Discover and Share Amazing Startups"|add_class:"form-control"|attr:"required"|attr:"maxlength:58" }}
		</div>
		<div class="form-group">
			<label for="body">Link to Website</label>
			{{ form.link|attr:"placeholder:http://earlist.xyz"|add_class:"form-control"|attr:"required" }}
		</div>
		<div class="form-group">
			<label for="body">Describe the company in a few words startin with its name.</label>
			{{ form.body|attr:"placeholder:ej: Earlist is the place where you..."|add_class:"form-control"|attr:"required"|attr:"rows:3"|attr:"maxlength:300" }}
		</div>
		<div class="form-group">
			<label for="body">Cover Image <i class="fa fa-info-circle text-primary" data-toggle="modal" data-target="#myModal"></i></label><small> More Info</small>
            <br>
            <span class="btn btn-default btn-file">
                <i class="fa fa-upload"></i> File Upload{{ form.image_file|attr:"required"|attr:"onchange=readURL(this)"|attr:"id=imgInp" }}
            </span><div id="upload"></div>
		</div>
		<div class="form-group">
			<label for="body">City</label>
			{{ form.city|add_class:"form-control"|attr:"placeholder:NYC"|attr:"required" }}
		</div>
		<div class="form-group m-t-md m-b-lg">
			<input type='submit' value='Send' class ="btn btn-primary w-full" />
		</div>
	</form>
    {% endif %}
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Post Image</h4>
      </div>
      <div class="modal-body text-center">
        <p class="lead">You need to add an image to your post</p>
        <div class="row">
        	<div class="col-sm-4 m-b">
        		<p>You can use a GIF</p>
        		<div class="thumbnail-custom ">
        			<div style="
        			background: url('https://ph-files.imgix.net/3a799844-a0d9-4bb4-a33f-9605140aef16?auto=format&w=430&h=570&fit=max');
                    background-size:cover;
                    background-position:center;
                    margin: 0 auto;
                    ">
                	</div>
            	</div>
        	</div>
        	<div class="col-sm-4 m-b">
        		<p>a website screenshot</p>
        		<div class="thumbnail-custom">
        			<div style="
        			background: url('https://api.url2png.com/v6/P5329C1FA0ECB6/b4ab4ddcd7b56d8242f409a188737ab3/png/?thumbnail_max_width=260&url=http%3A%2F%2Flaunchkey.com%2Fwhitelabel');
                    background-size:cover;
                    background-position:center;
                    margin: 0 auto;
                    ">
                	</div>
            	</div>
        	</div>
        	<div class="col-sm-4 m-b">
        		<p>or any image you like</p>
        		<div class="thumbnail-custom">
        			<div style="
        			background: url('https://ph-files.imgix.net/7c9a5b08-ca35-4d06-b417-ccc8207aeb8b?auto=format&w=430&h=570&fit=max');
                    background-size:cover;
                    background-position:center;
                    margin: 0 auto;
                    ">
                	</div>
            	</div>
        	</div>
        </div>
      </div>
      <div class="modal-footer m-t-md">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}