{% extends "blog/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<div class="col-sm-offset-2 col-sm-8">
	<div class="panel panel-default">
  	<div class="panel-body text-center m-t">
		<h2>Contribuir a Earlist</h2>
		<i class="fa fa-users fa-5x text-primary m-t-md"></i>
		<div class="row m-t-md m-b">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<p class="lead">Aquí puedes publicar tu producto. Estamos ansiosos por saber de que se trata y poder compartirlo con la comunidad</p>
			</div>
		</div>
		{# <a href="{% url 'profile' %}"><button type="button" class="btn btn-lg btn-pill btn-primary m-b-md">Finalizar</button></a> #}
	</div>
</div>
	<form action="{% url 'blog:post' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="title">Nombre del Producto</label>
			{{ form.title|attr:"placeholder:ej: Earlist"|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="slogan">Describe tu producto en una oración</label>
			{{ form.slogan|attr:"placeholder:ej: Descubre las nuevas ideas"|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="body">Url del sitio web</label>
			{{ form.link|attr:"placeholder:http://earlist.io"|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="body">Describe el producto en uno o dos párrafos empezando con el nombre</label>
			{{ form.body|attr:"placeholder:ej: Earlist es el lugar donde encuentras..."|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="body">Url de imagen <i class="fa fa-info-circle text-primary"></i></label>
			{{ form.image_url|add_class:"form-control"|attr:"placeholder:Agrega un link a una imagen de inicio" }}
		</div>
		<div class="form-group m-t-md m-b-lg">
			<input type='submit' value='Enviar' class ="btn btn-primary w-full" />
		</div>
	</form>
</div>
{% endblock %}