{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
   <div class="panel panel-default">
      <div class="panel-body text-center m-t">
      <h2>Post In Review</h2>
      <i class="fa fa-hand-peace-o fa-5x text-primary m-t-md"></i>
      <div class="row m-t-md m-b-md">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 text-justify">
          <p class="lead">Thank you for contributing to Earlist. Below you can see your post, you can edit it in your profile. It will go through a review process now. We have 2 processing time options</p>
        </div>
      </div>
      <div class="row m-b-md">
        <div class="col-sm-5 col-sm-offset-1">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Startup</h3>
            </div>
            <div class="panel-body text-justify">
              <p class="lead text-center"><b>$90 USD</b></p>
              <p>- Published Immeditately</p>
              <p>- Feature in Newsletter</p>
              <p>- Featured in Home Page</p>
              <p>- Unlimited Support</p>
              <p>- You support <b style="color:#3097d1">Earlist</b></p>
              <a href="{% url 'profile' 'posts' %}"><button type="button" class="btn btn-md w-full btn-success">Continue</button></a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Hobby</h3>
            </div>
            <div class="panel-body text-justify">
              <p class="lead text-center"><b>Free</b></p>
              <p>- Undefined waiting time</p>
              <p>- Limited support</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <a href="{% url 'profile' 'posts' %}"><button type="button" class="btn btn-md w-full btn-danger">Continue</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-group media-list media-list-stream m-t-lg">
      <li class="media list-group-item p-a">
        <a class="media-left" href="{% url 'detail' post.slug %}">
          <div class="thumbnail-custom">
            <div style="
                    background: url('{{post.image_file.url}}');
                    background-size:cover;
                    background-position:center;
                    ">
            </div>
          </div>
        </a>
        <div class="media-body">
          <div class="media-heading">
            <small class="pull-right text-muted"><i class="fa fa-clock-o text-primary"></i> {{post.created_at|date:"M d, Y"}}</small>
            <a href="{% url 'detail' post.slug %}" class="no-text-decoration"><h4>{{post.title}}</h4></a>
            <h5>{{post.slogan}}</h5>
            <div class="media">
              <div class="media-body">
                <small><i class="fa fa-thumb-tack text-primary"></i> {{post.city}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              {# <p>{{post.body}}</p> #}
            </div>
            <div class="col-sm-4 text-right">
              {# <button type="button" class="btn btn-primary-outline pull w-full">Ir al sitio</button> #}
              {# <button type="button" class="btn btn-primary-outline pull w-full">Guardar</button> #}
            </div>
          </div>
          {# <button type="button" class="pull-right btn btn-xs btn-pill btn-primary">{{post.category}}</button> #}
        </div>
      </li>
  </ul>
  <div class="panel panel-default m-t-lg">
  	<div class="panel-body text-center">
  		<h1>{{ post.title }}</h1>
  		<p class="lead m-t">{{ post.slogan }}</p>
		<div class="thumbnail m-t-md" style="background-color:white">
			<div style="
                    background: url('{{post.image_file.url}}');
                    background-size:cover;
                    background-position:center;
                    ">
            </div>
		</div>
		<p class="lead m-t-md">{{post.body}}</p>
      <a href="{{post.link}}" target="_blank" class="btn btn-primary m-t-md">
        <i class="fa fa-location-arrow"></i> Go to Website
      </a>
      <div class="row m-t-md">
        <hr>
        <div class="col-sm-6">
          <p><i class="fa fa-thumb-tack text-success"></i> <strong>{{post.city}}</strong></p>
        </div>
        <div class="col-sm-6">
          <p><i class="fa fa-clock-o text-primary"></i> <strong>{{post.created_at|date:"M d, Y"}}</strong></p>
        </div>
      </div>
	</div>
  </div>
</div>
{% endblock content %}
