{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container p-t-md">
    <div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-7">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h1>...</h1>
			<p class="lead m-t">Nos da tristeza que hayas decidido salirte de nuestro newsletter semanal. Si tienes sugerencias o comentarios por favor escribenos a <a href="mailto:hola@earlist.xyz">hola@earlist.xyz</a></p>
			<div class="thumbnail m-t-md" style="background-color:white">
				<div style="
                        background: url('http://i.giphy.com/OEv4VSSLkzqs8.gif');
                        background-size:cover;
                        background-position:center;
                        ">
                </div>
			</div>
			<p class="lead m-t-md"></p>
		</div>
	</div>
</div>

{% include 'blog/right-col.html' %}
{% endblock %}