/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

/* docs overrides */
.highlight {
  background-color: #fff;
  border-color: #d3e0e9;
}


/* general overrides */
.list-group-item .glyphicon {
  line-height: 1.4;
}
.modal-header .close {
  margin-top: 4px;
}


/* navbar */
.app-navbar {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.app-navbar .form-control {
  box-shadow: none;
}
.app-navbar .navbar-brand img {
  width: 85px;
}
.app-navbar .navbar-collapse {
  max-height: inherit;
}
.app-navbar .navbar-collapse:after {
  height: 100vh;
}
.app-navbar .form-control {
  border-color: #1C73A5;
}
.app-notifications {
  margin-left: -12px;
  padding-bottom: 10px !important;
}
.app-notifications .icon:before {
  font-size: 20px;
}
@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
    height: auto;
  }
}
@media (max-width: 768px) {
  .app-search {
    margin-top: -1px;
  }
}


/* misc */
.app-login-form {
  max-width: 280px;
  margin-top: -60px;
}
.app-new-msg {
  margin-right: 10px;
}
.app-brand {
  width: 40%;
  display: inline-block;
}
.app-brand img {
  width: 100%;
}

/* Custom */

.thumbnail{
  margin-bottom: 0px;
}

.thumbnail div{
  width:175px;
  height: 100px;
}

.col-sm-7 .thumbnail div{
  width:100%;
  height: 300px;
}

.no-text-decoration{
  text-decoration: none;
  /*color: #000;*/
}

.no-text-decoration:hover{
  text-decoration: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

button:focus {
  outline:0 !important;
}

.modal-header-danger {
  color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #aa4a24;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}